*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #eeee;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #eeee;
    padding: 17px;
    box-shadow: 0px 2px 2px 2px rgb(181,179,179);
}
nav .logo{
    margin-left: 22px;
    font-size: 24px;
}
ul{
    margin-right: 45px;
    margin-top: 7px;
}
nav ul li{
    list-style: none;
}
ul li a{
    margin-inline: 22px;
    font-size: 20px;

}
ul li i{
    font-size: 22px;
}
ul li #HOME{
    color: rgb(50, 155, 155);

}
ul li a:hover{
    border-bottom: 2px black;
    cursor: pointer;
}
ul li svg:hover{
    color: gray;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: space-around;
    
}
.main .maintext{
    margin-top: 144px;
    
}
.maintext h1{
    font-size: 64px;
    
}
.maintext .top{
    color: rgb(22, 128, 128);
}
.maintext button{
    width: 145px;
    height: 40px;
    background-color: rgb(30, 126, 126);
    border: none;
    font-size: 22px;
    color: white;
    
}

.maintext button:hover{
    border: 2px solid rgb(32, 126, 126);
    background-color: transparent;
    color: rgb(27, 133, 133);
}
.trend .head h1{
    text-align: center;
    padding: 33px;
    margin-top: 22px;
}
.head span{
    color: rgb(25, 121, 121);

}
.card{
    display: flex;
    justify-content: center;
    background-color: lightblue;
}
.card .crd{
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin-inline: 11px;
    padding: 22px;

}
.crd img{
    width: 85%;
    border-radius: 31px;
    
}
.crdtext{
    margin-left: 11px;
}
 